@import '../../scss/scss-variables/colors';

.login-form {
	display: block;
	align-items: center;
	position: relative;

	.login-form-title {
		text-align: center;
		
		h1 {
			font-weight: normal;
			letter-spacing: 0;
		}
	}
	.login-form-title__icon {
		width: 40px;
		height: 40px;
		overflow: hidden;
		font-size: 1.25rem;
		align-items: center;
		user-select: none;
		border-radius: 50%;
		padding: 1rem;
		color: $base;
		background-color: $app-bg;
	}

	.login-form-field {
		margin-bottom: 1rem;
		input {
			width: 100%;
			height: 40px;
			width: 100%;
			font-size: 1.6rem;
			padding: 2px 10px;
			outline: none;
			box-sizing: border-box;
			margin-bottom: 1rem;
		}
	}

	.login-form-button {
		background-color: $login-button;
		color: $login-button-text;
		text-align: center;
		font-weight: bold;
		margin-bottom: 1rem;
	}
}


.button-login {
    -webkit-border-radius: 1px;
    padding: 0;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    background-color: #fff;
    color: #757575;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    height: 50px;
	
	.button-icon {
		padding: 10px;
		float: left;
	}
	
	.button-label {
		font-size: 13px;
		line-height: 48px;
		font-weight: 500;
		letter-spacing: .21px;
		margin-left: 6px;
		margin-right: 6px;
		vertical-align: top;
	}
	&.facebook-login {
		color: #fff;
		background-color: #3b5998;
	}
	&.facebook-login svg {
		fill: #fff;
	}
}

.login-social--or {
	margin: 10px 0;
    text-align: center;
}
.login-social--buttons {
	display: flex;
	margin: 0 -5px;
	
}
.login-social--buttons .button-login{
	flex-grow: 1;
	margin: 5px;
}
