@import './scss-variables/colors.scss';

.button {
	color: $button-text-default;
	background-color: $button-bg-default;
	padding: 5px 10px;
	border-radius: 3px;
	font-weight: normal;
	font-size: 1rem;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	border: 0 none;

	&.add {
		.add-text {
			display: block;
		}
		.remove-text {
			display: none;
		}
	}
	&.remove {
		background-color: $button-bg-danger;
		.add-text {
			display: none;
		}
		.remove-text {
			display: block;
		}
	}

	&.button-primary {
		background-color: $button-bg-default;
	}
	&.button-block {
		display: block;
		width: 100%;
		font-size: 1.6rem;
		padding: 11px;
	}
}
