@import './scss-variables/breakpoints';

#LoginPage {
	display: block;
	margin: 0 24px;
	background: $base;
	padding: 20px;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
	color: $text-dark;
	top: 64px;
	position: relative;
}


@media only screen and (min-width: $breakpoint-sm ) {
	#LoginPage {
		margin: 0 auto;
		padding: 4rem 2rem 5rem;
		width: 400px;
		top: 40px;
	}
}
